.modal {
    position: absolute;
    width: 100%;
    &__wrapper {
        background: wheat;
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            width: 100%;
        }
        li {
            display: grid;
            grid-template-columns: 1fr 30px;
        }
    }
}
