@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
$styleFontFamily: "Plus Jakarta Sans", sans-serif;
$color1: #f4ebfb;
$color2: #8e9b97;
$color3: #537072;
$color4: #2c4a52;
